<nav role="navigation" class="nav nav-doc">
  <a{% if page.section == 'base' %} class="active"{% endif %} href="base.html">Base</a>
  <a{% if page.section == 'layout' %} class="active"{% endif %} href="layout.html">Layout</a>
  <a{% if page.section == 'modules' %} class="active"{% endif %} href="modules.html">Modules</a>
  <a{% if page.section == 'state' %} class="active"{% endif %} href="state.html">State</a>
  <a{% if page.section == 'code' %} class="active"{% endif %} href="code.html">Code</a>
</nav>
